body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
}
header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    background-color: #000;
}
header img {
    height: 50px;
    float: left;
    margin: 10px 0 0 10px;
}
header ul {
    float: right;
    margin-right: 20px;
}
header ul li {
    text-decoration: underline;
    list-style: none;
    display: inline;
    margin-left: 20px;
}
div#mission {
    height: 700px;
    background-image: url("images/img-mission-background.jpg");
    background-position: top 60px center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-top:69px;
}
#mission div {
    width: 1200px;
    margin: 0 auto;
    background-color: black;
}
#mission div h2 {
    margin-top: 20px;
}
section {
    margin-top:70px;
}
h2, h3, h4 {
  text-align: center;
  color: seashell;
}
h2 {
    margin-bottom: 20px;
    margin-top: 0;
}
h4 {
    margin-top: 10px;
}
.teas img {
    width: 300px;
}
.container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 65px;   
    column-gap: 50px; 
}
.container div {
    width: 300px;
    height: 235px;
    flex-wrap: wrap;
}
.locations {
    height: 500px;
    background: url("images/img-locations-background.jpg");
    background-position: bottom 80% center;
    background-repeat: no-repeat;
}
.locations div#flex {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px; 
}
div#flex div {
    width: 300px;
    background-color: #000;
    opacity: 1;
}
#locations_header {
    background: none; 
    align-self: stretch;
    margin: 0 auto;
    padding-top: 70px;
}
div.footer {
    height: 200px;
}
.footer h2 {
    margin-top: 20px;
}
.footer h5 {
    text-align: center;
}
.footer + div {
    margin-left: 20px;
}